<div class="detail-content">
        
        <section class="breadcrumb-classic-pattern">
            <div class="breadcrumb-classic-wrapper">
                <ul class="breadcrumb-classic">
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumb-classic_here" onclick="utag.link({event_name:'c_detail_breadcrumbclassic_link_Inicio'});">
                        <span>
                            Estás en: 
                        </span>
                    </li>
                    <li class="breadcrumb-classic_ellipsis">
                        <a href="#" onclick="utag.link({event_name:'c_detail_breadcrumbclassic_link_puntossuspensivos'});"><span>...</span></a> 
                    </li>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumb-classic_home" onclick="utag.link({event_name:'c_detail_breadcrumbclassic_link_TypeBuildingAndTransaction'});">
                        <a id="lnk_Home" itemprop="url" href="https://www.fotocasa.es/es/">
                            <span itemprop="title">
                                Inicio
                            </span>
                        </a>
                    </li>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" onclick="utag.link({event_name:'c_detail_breadcrumbclassic_link_TypeBuildingAndTransaction'});">
                        <a id="lnk_TransactionProperty" itemprop="url" href="/es/comprar/casas/espana/todas-las-zonas/l">
                            <span itemprop="title">
                                <span id="ctl00_content1_PaginationTop_breadcrumbclassic_lbl_TransactionProperty">Comprar Casas</span>
                            </span>
                        </a>
                    </li>
                    <li id="ctl00_content1_PaginationTop_breadcrumbclassic_li_level2" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" onclick="utag.link({event_name:'c_detail_breadcrumbclassic_localization_level1'});">
                        <a id="lnk_LocalizationLevel2" itemprop="url" href="/es/comprar/casas/madrid-provincia/todas-las-zonas/l">
                            <span itemprop="title">
                                <span id="ctl00_content1_PaginationTop_breadcrumbclassic_lbl_LocalizationLevel2">Madrid</span>
                            </span>
                        </a>
                    </li>
                    <li id="ctl00_content1_PaginationTop_breadcrumbclassic_li_level3" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" onclick="utag.link({event_name:'c_detail_breadcrumbclassic_localization_level2'});">
                        <a id="lnk_LocalizationLevel3" itemprop="url" href="/es/comprar/casas/madrid-provincia/madrid-zona-de/l">
                            <span itemprop="title">
                                <span id="ctl00_content1_PaginationTop_breadcrumbclassic_lbl_LocalizationLevel3">Madrid, Zona de</span>
                            </span>
                        </a>
                    </li>
                    <li id="ctl00_content1_PaginationTop_breadcrumbclassic_li_level5" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" onclick="utag.link({event_name:'c_detail_breadcrumbclassic_localization_level3'});">
                        <a id="lnk_LocalizationLevel5" itemprop="url" href="/es/comprar/casas/madrid-capital/todas-las-zonas/l">
                            <span itemprop="title">
                                <span id="ctl00_content1_PaginationTop_breadcrumbclassic_lbl_LocalizationLevel5"> Madrid Capital</span>
                            </span>
                        </a>
                    </li>
                    <li id="ctl00_content1_PaginationTop_breadcrumbclassic_li_upperLevelwithLink" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" onclick="utag.link({event_name:'c_detail_breadcrumbclassic_localization_level4'});">
                        <a id="lnk_LocalizationUpperLevel" itemprop="url" href="/es/comprar/casas/madrid-capital/embajadores-lavapies/l">
                            <span itemprop="title">                
                                <span id="ctl00_content1_PaginationTop_breadcrumbclassic_lbl_LocalizationUpperLevelwithLink">Embajadores - Lavapiés</span>
                            </span>                     
                        </a>
                    </li>
                    
                </ul>
            </div>
        </section>
        <style>
        </style>
        <div id="pagination-container" class="pagination-container">
            <div id="ctl00_content1_PaginationTop_PaginationContainer" class="property-navigation property-navigation-top clearfix">
            
                
        
                <a id="ctl00_content1_PaginationTop_lnkGoBackToResults" class="property-nav-back-to-list" data-feature="backToResults" onclick="javascript:history.back();" href="#">&lt; Volver al listado</a>
                <a id="ctl00_content1_PaginationTop_lnkGoBackToResultsIco" class="property-nav-back-to-list-ico" data-feature="backToResults" onclick="javascript:history.back();">&lt;</a>
                
                
                <div>
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_topAdsIds" id="ctl00_content1_PaginationTop_hid_pag_topAdsIds">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_ids" id="ctl00_content1_PaginationTop_hid_pag_ids">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_periodicity_ids" id="ctl00_content1_PaginationTop_hid_pag_periodicity_ids">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_periodicity_topAdsIds" id="ctl00_content1_PaginationTop_hid_pag_periodicity_topAdsIds">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_selected_id" id="ctl00_content1_PaginationTop_hid_pag_selected_id">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_position" id="ctl00_content1_PaginationTop_hid_pag_position">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_rows" id="ctl00_content1_PaginationTop_hid_pag_rows">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_page" id="ctl00_content1_PaginationTop_hid_pag_page">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_transaction_type" id="ctl00_content1_PaginationTop_hid_pag_transaction_type" value="1">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_payment_periodicity_ids" id="ctl00_content1_PaginationTop_hid_pag_payment_periodicity_ids" value="0">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_purchase_type" id="ctl00_content1_PaginationTop_hid_pag_purchase_type" value="0">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_building_type" id="ctl00_content1_PaginationTop_hid_pag_building_type" value="0">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_building_subtype" id="ctl00_content1_PaginationTop_hid_pag_building_subtype" value="0">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_multi_building_subtype" id="ctl00_content1_PaginationTop_hid_pag_multi_building_subtype">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_min_price" id="ctl00_content1_PaginationTop_hid_pag_min_price" value="0">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_max_price" id="ctl00_content1_PaginationTop_hid_pag_max_price" value="0">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_min_surface" id="ctl00_content1_PaginationTop_hid_pag_min_surface" value="0">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_max_surface" id="ctl00_content1_PaginationTop_hid_pag_max_surface" value="0">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_min_rooms" id="ctl00_content1_PaginationTop_hid_pag_min_rooms" value="0">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_max_rooms" id="ctl00_content1_PaginationTop_hid_pag_max_rooms" value="0">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_min_bathrooms" id="ctl00_content1_PaginationTop_hid_pag_min_bathrooms" value="0">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_text" id="ctl00_content1_PaginationTop_hid_pag_text">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_filter" id="ctl00_content1_PaginationTop_hid_pag_filter">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_doing_filter" id="ctl00_content1_PaginationTop_hid_pag_doing_filter">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_tags" id="ctl00_content1_PaginationTop_hid_pag_tags">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_localization" id="ctl00_content1_PaginationTop_hid_pag_localization">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_multi_localization" id="ctl00_content1_PaginationTop_hid_pag_multi_localization">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_field" id="ctl00_content1_PaginationTop_hid_pag_field">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_order" id="ctl00_content1_PaginationTop_hid_pag_order">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_results_url" id="ctl00_content1_PaginationTop_hid_pag_results_url">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_topAds" id="ctl00_content1_PaginationTop_hid_pag_topAds">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_grid" id="ctl00_content1_PaginationTop_hid_pag_grid">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_radial" id="ctl00_content1_PaginationTop_hid_pag_radial">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_excludelocation" id="ctl00_content1_PaginationTop_hid_pag_excludelocation">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_Adjacentpage" id="ctl00_content1_PaginationTop_hid_pag_Adjacentpage">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_csm" id="ctl00_content1_PaginationTop_hid_pag_csm">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_mode" id="ctl00_content1_PaginationTop_hid_pag_mode">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_AdjacentAdsIds" id="ctl00_content1_PaginationTop_hid_pag_AdjacentAdsIds">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_AdjacentAdsPeriodicityIds" id="ctl00_content1_PaginationTop_hid_pag_AdjacentAdsPeriodicityIds">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_extras" id="ctl00_content1_PaginationTop_hid_pag_extras">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_lnk_button_nextonclik" id="ctl00_content1_PaginationTop_hid_lnk_button_nextonclik">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_clientId" id="ctl00_content1_PaginationTop_hid_pag_clientId">
                    <!-- pagination Microsite -->
                    
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_AdjacentAdsCount" id="ctl00_content1_PaginationTop_hid_pag_AdjacentAdsCount">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_ads" id="ctl00_content1_PaginationTop_hid_pag_ads">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_highlight_ads" id="ctl00_content1_PaginationTop_hid_pag_highlight_ads">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_multimedia_ads" id="ctl00_content1_PaginationTop_hid_pag_multimedia_ads">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hig_pag_multimedia_page_ads" id="ctl00_content1_PaginationTop_hig_pag_multimedia_page_ads">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_aux_ids" id="ctl00_content1_PaginationTop_hid_aux_ids">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_isTopAd" id="ctl00_content1_PaginationTop_hid_isTopAd">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_24x7_pagination_ids" id="ctl00_content1_PaginationTop_hid_24x7_pagination_ids">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_url_return" id="ctl00_content1_PaginationTop_hid_url_return">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_language_url_return" id="ctl00_content1_PaginationTop_hid_language_url_return">
                    
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_bound_map" id="ctl00_content1_PaginationTop_hid_bound_map">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_bound_poly" id="ctl00_content1_PaginationTop_hid_bound_poly">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_clng" id="ctl00_content1_PaginationTop_hid_clng">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_clat" id="ctl00_content1_PaginationTop_hid_clat">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_rad" id="ctl00_content1_PaginationTop_hid_rad">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_mlng" id="ctl00_content1_PaginationTop_hid_mlng">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_mlat" id="ctl00_content1_PaginationTop_hid_mlat">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_zoom" id="ctl00_content1_PaginationTop_hid_zoom">
                    <input type="hidden" name="ctl00$content1$PaginationTop$hid_pag_microsite" id="ctl00_content1_PaginationTop_hid_pag_microsite">
                </div>
        
        
                <script>
                    //<![CDATA[
        
                    var nextDetail = null;
        
                    //Siguiente/anterior anuncio
                    function ViewDetail(strAction, strId, position) {
                        MarkPropertyAsVisited(strId);
                        submitForm(strAction, strId, position);
                    }
        
        
                    //enviamos el formulario para renderizar el detalle
                    //siguiente y la paginacion
                    function submitForm(strAction, strId, position) {
                        $('#ctl00_content1_PaginationTop_hid_pag_selected_id').val(strId);
                        $('#ctl00_content1_PaginationTop_hid_pag_position').val(position);
                        document.forms[0].action = strAction;
                        document.forms[0].submit();
                    }
        
                    function ChangePage(page) {
                        $('#ctl00_content1_PaginationTop_hid_pag_page').val(page);
                        $('#ctl00_content1_PaginationTop_hid_pag_ids').val($('#ctl00_content1_PaginationTop_hid_aux_ids').val());
                    };
        
                    function ChangeAdjacentPage(adjpage) {
                        $('#ctl00_content1_PaginationTop_hid_pag_Adjacentpage').val(adjpage);
                        $('#ctl00_content1_PaginationTop_hid_pag_ids').val($('#ctl00_content1_PaginationTop_hid_aux_ids').val());
                    };
        
                    function ChangeHidIsTopAd(isTopAd) {
                        $('#ctl00_content1_PaginationTop_hid_isTopAd').val(isTopAd);
                        $("input[id$=hid_isTopAd]").val(isTopAd);
                    }
        
                    function GoBack(action) {
                        document.forms[0].action = action;
                        document.forms[0].submit();
                    };
        
                    function MarkPropertyAsVisited(id) {
                        try {
                            if (localStorage) {
                                localStorage.setItem(parseInt(id), 1);
                            }
                        }
                        catch (e) {
                            if (console)
                                console.log(e.message);
                        }
                    };
        
        //]]>
                </script>
            
        </div>
        </div>
        
                
            <script type="text/javascript">
                var featuresValues = "armarios,calefaccion,ascensor,amueblado,electrodomesticos,puerta-blindada,";
                var utag_data = {
                    ABTest : "",
                    ad_id : "149398213",
                    promotion_id: "0",
                    ad_publisher_type_id: "1",
                    ads_name_page: "fotocasaes/tv/ficha",
                    city: " Madrid Capital",
                    city_id: "28079",
                    city_zone: "Centro - Embajadores - Lavapiés",
                    company_idwas: "500180062533",
                    county: "Madrid, Zona de",
                    county_id: "173",
                    district_id: "672",
                    features_id: JSON.parse("[2,3,13,19,21,84,131]"),
                    heating_id: "1",
                    mts2: "60",
                    mts2_max: "",
                    mts2_min: "",
                    neighbourhood: "Embajadores - Lavapiés",
                    neighbourhood_id: "48",
                    postal_code: "28005",
                    price: "225000",
                    price_max: "",
                    price_min: "",
                    property: "Flat",
                    property_id: "2",
                    property_state: "AlmostNew",
                    property_state_id: "1",
                    property_sub: "Flat",
                    property_sub_id: "1",
                    query: "",
                    region_level2: "Madrid",
                    region_level2_id: "28",
                    reload: "0",
                    rooms: "1",
                    search_terms: "",
                    site: "Fotocasa",
                    street: "de Mira el Sol",
                    transaction_id: "1",
                    water_id: "1",
                    ad_publisher_id: "1189648",
                    ad_publisher_type: "professional",
                    ad_title: "Piso en venta en Centro - Embajadores - Lavapiés",
                    bathrooms: "1",
                    city_zone_id: "",
                    country: "España",
                    country_id: "724",
                    create_date: "19/12/2018 13:25:17",
                    district: "Centro",
                    event_name: "detail",
                    features: featuresValues=="" ? [] : featuresValues.split(","),
                    host_name: "EC2AMAZ-NS52058",
                    is_msite: "false",
                    list_type: "",
                    locality: "",
                    locality_id: "0",
                    more_filters: "",
                    other_filters: "",
                    publish_date: "19/12/2018 13:25:17",
                    recommendation_id: "",
                    region_level1: "Madrid",
                    region_level1_id: "14",
                    search_id: "",
                    search_results_number: "",
                    search_results_position: "",
                    search_type: "",
                    sell_type_id: "2",
                    transaction: "venta",
                    user_role_id: "",
                    xiti_is_enabled: "true",
                    user_id: "0",
                    company: "Infocasa Consulting",
                    pb_adv_opt: "2"
                };
            </script>
        
        
            <div>
                <input name="ctl00$hid_ShowPriceAlert" type="hidden" id="hid_ShowPriceAlert" value="true"><input name="ctl00$hid_OriginInformationRequest" type="hidden" id="hid_OriginInformationRequest" value="1"><input name="ctl00$hid_FormTypeClassifiedModal" type="hidden" id="hid_FormTypeClassifiedModal" value="2"><input name="ctl00$hid_AdClientId" type="hidden" id="hid_AdClientId" value="500180062533"><input name="ctl00$hid_AdId" type="hidden" id="hid_AdId" value="149398213"><input name="ctl00$hid_AdPhone" type="hidden" id="hid_AdPhone" value="tel:911360461"><input name="ctl00$hid_promotionId" type="hidden" id="hid_promotionId" value="0"><input name="ctl00$hid_OriginNoModalPhotoURL" type="hidden" id="hid_OriginNoModalPhotoURL" value="https://www.fotocasa.es/Building/Building_Detail.aspx?oi=SlidePhotos&amp;opi=300&amp;ai=149398213&amp;pi=0"><input name="ctl00$hid_bsti" type="hidden" id="hid_bsti" value="1"><input name="ctl00$hid_bti" type="hidden" id="hid_bti" value="2"><input name="ctl00$hid_purchaseTypeId" type="hidden" id="hid_purchaseTypeId" value="2"><input name="ctl00$hid_tti" type="hidden" id="hid_tti" value="1"><input name="ctl00$hid_ppi" type="hidden" id="hid_ppi" value="0"><input name="ctl00$hid_Combined" type="hidden" id="hid_Combined" value="724,14,28,173,0,28079,0,672,48"><input name="ctl00$hid_AdValue" type="hidden" id="hid_AdValue" value="225000"><input name="ctl00$hid_MinPrice" type="hidden" id="hid_MinPrice" value="0"><input name="ctl00$hid_MaxPrice" type="hidden" id="hid_MaxPrice" value="0"><input name="ctl00$hid_MinRooms" type="hidden" id="hid_MinRooms" value="0"><input name="ctl00$hid_MinSurface" type="hidden" id="hid_MinSurface" value="0"><input name="ctl00$hid_bsi" type="hidden" id="hid_bsi" value="0"><input name="ctl00$hid_MultiBsi" type="hidden" id="hid_MultiBsi" value="0"><input name="ctl00$hid_PromotionType" type="hidden" id="hid_PromotionType" value="0"><input name="ctl00$hid_PromotionURLType" type="hidden" id="hid_PromotionURLType" value="0"><input name="ctl00$hid_SimilarAdsInNewDetailPage" type="hidden" id="hid_SimilarAdsInNewDetailPage" value="false"><input name="ctl00$hid_PromotionUrl" type="hidden" id="hid_PromotionUrl"><input name="ctl00$hid_TtiSale" type="hidden" id="hid_TtiSale" value="1"><input name="ctl00$hid_BtiFlat" type="hidden" id="hid_BtiFlat" value="2"><input name="ctl00$hid_NewConstruction" type="hidden" id="hid_NewConstruction" value="1"><input name="ctl00$hid_IdMapNoPhoto" type="hidden" id="hid_IdMapNoPhoto"><input name="ctl00$hid_IdLinkCalculateFinancing" type="hidden" id="hid_IdLinkCalculateFinancing"><input name="ctl00$hid_HashMap" type="hidden" id="hid_HashMap" value="true"><input name="ctl00$hid_RenderDetailByModules" type="hidden" id="hid_RenderDetailByModules" value="true"><input name="ctl00$hid_WasId" type="hidden" id="hid_WasId" value="112133565"><input name="ctl00$hid_OriginId" type="hidden" id="hid_OriginId" value="72"><input name="ctl00$hid_ClientId" type="hidden" id="hid_ClientId" value="500180062533"><input name="ctl00$hid_DelegationId" type="hidden" id="hid_DelegationId" value="0"><input name="ctl00$hid_ClientTypeId" type="hidden" id="hid_ClientTypeId" value="3"><input name="ctl00$hid_ClientType" type="hidden" id="hid_ClientType" value="professional"><input name="ctl00$hid_ShowAveragePriceZone" type="hidden" id="hid_ShowAveragePriceZone" value="false"><input name="ctl00$hid_PriceValue" type="hidden" id="hid_PriceValue" value="225000"><input name="ctl00$hid_Surface" type="hidden" id="hid_Surface" value="60"><input name="ctl00$hid_Comments" type="hidden" id="hid_Comments" value="Estabas buscando un apartamento nuevo a estrenar con calidades de lujo y diseno moderno 
         ideal inversores 
         precioso apartamento en una de las zonas mas de moda de nuestra capital. 
         reformado a estrenar en primeras calidades se trata de una vivienda muy luminosa consta de salon comedor cocina moderna abierta completamente equipada con todos los electrodomesticos un dormitorio amplio con armario empotrado bano completo con ducha de obra. es ideal para vivir se entrega completamente amueblado. 
        excelente ubicacion y rodeado de todo tipo de servicios; comercios restaurantes bancos. cercano a la latina y junto al centro cultural de tabacalera. muy bien comunicado todos los transportes publicos metro tren cercanias autobuses y buena comunicacion por carretera siendo una barrio de preferencia residencial en cuanto a coches. 
        dispone de departamento financiero juridico y de reformas. 
        no dudes en contactar con nosotros. 
        te esperamos."><input name="ctl00$hid_adUrl" type="hidden" id="hid_adUrl" value="/vivienda/madrid-capital/calefaccion-ascensor-amueblado-embajadores-lavapies-149398213"><input name="ctl00$hid_NoPhotoLatitude" type="hidden" id="hid_NoPhotoLatitude"><input name="ctl00$hid_NoPhotoLongitude" type="hidden" id="hid_NoPhotoLongitude"><input name="ctl00$hid_UserId" type="hidden" id="hid_UserId" value="0"><input name="ctl00$hid_EmailHashed" type="hidden" id="hid_EmailHashed"><input name="ctl00$hid_AdPrice" type="hidden" id="hid_AdPrice" value="225000.00"><input name="ctl00$hid_urlImageMarketPlace" type="hidden" id="hid_urlImageMarketPlace" value="https://d.inmofactory.com/1/89621/16097895/211799708.jpg/640x480"><input name="ctl00$hid_Xtor" type="hidden" id="hid_Xtor"><input name="ctl00$hid_title" type="hidden" id="hid_title" value="Piso en venta en Centro - Embajadores - Lavapiés"><input name="ctl00$hid_transactionLiteral" type="hidden" id="hid_transactionLiteral" value="venta">
            </div>
            <script>
                    var versaTag = {};
                    versaTag.id = "2545";
                    versaTag.sync = 0;
                    versaTag.dispType = "js";
                    versaTag.ptcl = "HTTPS";
                    versaTag.bsUrl = "bs.serving-sys.com/BurstingPipe";
                    versaTag.activityParams = {"Session":""};
                    
                    versaTag.dynamicRetargetParams = {"17467":"","18098":"","17824":"149398213"};
                    versaTag.conditionalParams = {"tp_idcoche":"","tp_idmoto":"","tp_idcasa":""};
                    </script>
                    <script id="ebOneTagUrlId" src="https://secure-ds.serving-sys.com/SemiCachedScripts/ebOneTag.js"></script><noscript>
                    <iframe src="https://bs.serving-sys.com/BurstingPipe?cn=ot&onetagid=2545&ns=1&activityValues=$$Session=[Session]$$$$&retargetingValues=$$$$&dynamicRetargetingValues=$$17467=&18098=&17824=149398213$$&acp=$$$$&"
                    style="display:none;width:0px;height:0px"></iframe></noscript>
            
            <div id="topBarProperty" class="detail-quickaccess" style="display: none;">
                <div>
                    <div class="detail-quickaccess_property">
                        <h3>
                            Piso en venta en Centro - Embajadores - Lavapiés
                        </h3>
                        <span id="detail-quickaccess_property_price" class="detail-quickaccess_property_price">
                            <b>225.000&nbsp;€</b>
                        </span>
                    </div>
                    <div class="detail-quickaccess_options">
                        <ul class="button-group">
                            <li>
                                <a id="btnFavTopBar" class="button button--small" onclick="utag.link({event_name:'c_detail_topbar_responsive_favorito'}); clickFavStar(149398213, 0, 1, 0);"><i id="topBarIconFav" class="cFavorite"></i><span class="button_text">Añadir a favoritos</span></a>
                            </li>
                            <li>
                                <a id="btnShareTopBar" class="button button--small" onclick="utag.link({event_name:'c_detail_topbar_responsive_compartir'}); FTC.ShareError(); return false;" href="../../UserControl/ObjectViews/#"><i class="fc-icon-share"></i> <span class="button_text">Compartir</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <div id="favToolTip" class="firstFavoriteTip">
                Haz clic en <span class="cFavorite"></span> para guardar este anuncio en Favoritos.
            </div>
        
            
        
            <div class="property-detail_header">
        
                <div id="property-title" class="property-title-container">
                    
                    <h1 class="property-title">
                        Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital
                    </h1>
                    <ul class="basic-info--list">
                        <li id="ctl00_liRooms">
                            <i class="fc-icon-rooms_thin"></i>
                            <span id="litRooms"><b>1</b>&nbsp;habitación</span>
                        </li><li id="ctl00_liBaths">
                            <i class="fc-icon-baths_thin"></i>
                            <span id="litBaths"><b>1</b>&nbsp;baño</span>
                        </li><li id="ctl00_liSurface">
                            <i class="fc-icon-surface_thin"></i>
                            <span id="litSurface"><b>60</b> m²</span>
                        </li>
                    </ul>
                    
        
                    <div class="property-detail_header_main">
                        <span id="ctl00_DetailMainInfo" class="property-detail_basic-info">
                            
                            
                        </span>
                    </div>
                </div>
                <div class="basic-info--contact">
                    
                    <span class="basic-info--contact_price" id="priceContainer">
                        225.000 €
                    </span><div class="mpResultLink" id="mpResultFinance"><img src="https://logs1209.xiti.com/get.ad?xts=470361&amp;ati=PUB-[Marketplace]-[Finance_Realestate]--[Textlink_Desktop]--[Detail]&amp;type=AT&amp;rn=0.4244670385039617&amp;url=https://c.dcdn.es/pao_all_marketplace/img/pixel.gif"><a href="https://logs1209.xiti.com/go.ad?xts=470361&amp;atc=PUB-[Marketplace]-[Finance_Realestate]--[Textlink_Desktop]--[Detail]&amp;type=AT&amp;url=http://hipotecas.fotocasa.es?portal=1&amp;mp=2&amp;o=2&amp;ad_publisher_type_id=1&amp;ads_name_page=fotocasaes%252Ftv%252Fficha&amp;city=+Madrid+Capital&amp;mts2=60&amp;price=225000&amp;property_id=2&amp;property_state_id=1&amp;property_sub_id=1&amp;region_level2=Madrid&amp;rooms=1&amp;transaction_id=1&amp;event_name=detail&amp;urlp=https%253A%252F%252Fd.inmofactory.com%252F1%252F89621%252F16097895%252F211799708.jpg%252F640x480" target="_blank" rel="nofollow"><span class="lnk-text">Calcula tu cuota</span></a></div>
                    
                    <ul class="pvp-info--actions link-list2">
                        <li id="ctl00_btnCounterOfferContainer" class="container-top24x7 property-option">
                            <a id="btnCounterOffer" onclick="_typeStandard = '27'; _typeShowPhone = '14';FTC.ClickTrackModal('modal_counterOffer', originModalURL, 'suggest_price'); FTC.loadInformationRequest('¡Contacta ahora!','Estoy interesado en su inmueble y me gustaría que habláramos sobre su precio.');FTC.Modal.open('#dialog'); return false;" href="#">
                                <span class="property-option_text">
                                    Sugerir un precio</span>
                            </a>
                        </li><li id="ctl00_top24x7" data-id="lit24x7Top">
                            
                        </li>
                    </ul>
                    
        
                </div>
            </div>
        
            <div class="contextual_nav--mobile">
                <div class="contextual_nav--mobile-content js-property-options" id="contextual_nav_mobile">
                    <nav>
                        <div id="ctl00_buttonContextualShowPhone" class="header-pagination_item" onclick="setClickForPhoneIcon(); sendInformationRequest(149398213,0,1)">
                            <a class="header-pagination_item_inner" data-icon="phone" href="tel:911360461">
                                <i class="fc-icon-phone"></i>
                                Llamar
                            </a>
                        </div>
                        <div class="header-pagination_item">
                            <a class="header-pagination_item_inner contextual_nav--accent" data-contact-focus="yes">
                                <i class="fc-icon-envelop"></i>
                                Contactar
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        
        
            <div id="detailPrimary">
                <article id="propertyDetail" class="layout-container">
                    <div id="ctl00_adType" class="property-type">
                        <section id="multimediaGallery" class="property-media">
                            
                            <div class="property-media-slider">
                                
                                <section class="property-media carousel" data-section="photos">
                                    <div id="photoContainer">
                                        
        
        <div id="slidePhoto">
            
            <input name="ctl00$slidePhotoNew$hidUrlsPhotos" type="hidden" id="hidUrlsPhotos" value="https://d.inmofactory.com/1/89621/16097895/211799708.jpg/690x518/p_1|https://d.inmofactory.com/1/89621/16097895/211799699.jpg/690x518/p_1|https://d.inmofactory.com/1/89621/16097895/211799682.jpg/690x518/p_1|https://d.inmofactory.com/1/89621/16097895/211799685.jpg/690x518/p_1|https://d.inmofactory.com/1/89621/16097895/211799688.jpg/690x518/p_1|https://d.inmofactory.com/1/89621/16097895/211799690.jpg/690x518/p_1|https://d.inmofactory.com/1/89621/16097895/211799693.jpg/690x518/p_1|https://d.inmofactory.com/1/89621/16097895/211799694.jpg/690x518/p_1|https://d.inmofactory.com/1/89621/16097895/211799700.jpg/690x518/p_1|https://d.inmofactory.com/1/89621/16097895/211799704.jpg/690x518/p_1|https://d.inmofactory.com/1/89621/16097895/211799712.jpg/690x518/p_1|https://d.inmofactory.com/1/89621/16097895/211799718.jpg/690x518/p_1|https://d.inmofactory.com/1/89621/16097895/211799721.jpg/690x518/p_1|https://d.inmofactory.com/1/89621/16097895/211799723.jpg/690x518/p_1|https://d.inmofactory.com/1/89621/16097895/211799726.jpg/690x518/p_1">
            <input name="ctl00$slidePhotoNew$hidMultimediaIds" type="hidden" id="hidMultimediaIds" value="458844751|458844752|458844753|458844754|458844755|458844756|458844757|458844758|458844759|458844760|458844761|458844762|458844763|458844764|458844765">
            <input name="ctl00$slidePhotoNew$hidViewType" type="hidden" id="hidViewType" value="1">
            <input name="ctl00$slidePhotoNew$hidItem" type="hidden" id="hidItem" value="0">
            <input name="ctl00$slidePhotoNew$hidActualPhotoItem" type="hidden" id="hidActualPhotoItem" value="Foto {0} de {1}">
            <input name="ctl00$slidePhotoNew$hidModalLevel2" type="hidden" id="hidModalLevel2" value="4">
            <input name="ctl00$slidePhotoNew$hidModalPathUrl" type="hidden" id="hidModalPathUrl" value="https://www.fotocasa.es/UserControl/ObjectViews/Multimedia.ascx?oi=SlidePhotos&amp;opi=&amp;ai=149398213&amp;pi=0">
            <input name="ctl00$slidePhotoNew$hidSemanticDetail" type="hidden" id="hidSemanticDetail" value="/vivienda/madrid-capital/calefaccion-ascensor-amueblado-embajadores-lavapies-149398213">
            <input name="ctl00$slidePhotoNew$hidComments" type="hidden" id="hidComments" value="%c2%bfEstabas+buscando+un+apartamento+nuevo+a+estrenar+con+calidades+de+lujo+y+dise%c3%b1o+moderno+%3f+%0a%c2%a1%c2%a1Ideal+Inversores+!+!+%0a+Precioso+apartamento+en+una+de+las+zonas+m%c3%a1s+de+moda+de+nuestra+capital.+%0a+Reformado+a+estrenar+en+primeras+calidades%2c+se+trata+de+una+vivienda+muy+luminosa%2c+consta+de+sal%c3%b3n+comedor%2c+cocina+moderna+abierta+completamente+equipada%2c+con+todos+los+electrodom%c3%a9sticos%2c+un+dormitorio+amplio+con+armario+empotrado%2cba%c3%b1o+completo+con+ducha+de+obra.+Es+ideal+para+vivir%2c+se+entrega+completamente+amueblado.+%0aExcelente+ubicaci%c3%b3n+y+rodeado+de+todo+tipo+de+servicios%3b+comercios%2c+restaurantes%2c+bancos.+Cercano+a+la+Latina+y+junto+al+Centro+Cultural+de+Tabacalera.+Muy+bien+comunicado%2c+todos+los+transportes+p%c3%bablicos+(Metro+-+Tren+Cercan%c3%adas+-+Autobuses)+y+buena+comunicaci%c3%b3n+por+carretera%2c+siendo+una+barrio+de+preferencia+residencial+en+cuanto+a+coches.++%0aDispone+de+departamento+financiero%2c+jur%c3%addico+y+de+reformas.+%0aNo+dudes+en+contactar+con+nosotros.+%0aTe+esperamos.">
        
              <section class="wrapper-carousel">
                
                <div id="carousel" class="carousel" data-carousel="container">
                    <div class="carousel-navigation-group" id="carrousel-navigation-group-id" data-onmouse="hide" data-carousel="actions">
                        <div id="ctl00_slidePhotoNew_imageSliderPrev" class="carousel_prev" data-carousel="prev" style="display: none;">
                            <div class="carousel_control">
                                <a id="ctl00_slidePhotoNew_lnkPrevious" class="carousel_control_button" title="Foto anterior"></a>
                            </div>
                        </div>
                        <div class="carousel_zoom">
                            <div class="carousel_control" data-carousel="zoom">
                                <div data-carousel="counter" class="carousel_counter">
                                    <span data-carousel="current">1</span>/<span data-carousel="total">15</span>
                                </div>
                                <a id="ctl00_slidePhotoNew_lnkCarouselZoom" class="carousel_control_button" title="Ampliar foto"></a>
                            </div>
                        </div>
                        <div id="ctl00_slidePhotoNew_imageSliderNext" class="carousel_next" data-carousel="next">
                            <div class="carousel_control">
                                <a id="ctl00_slidePhotoNew_lnkNext" class="carousel_control_button" title="Siguiente foto"></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel_viewport" data-component="carousel" data-carousel="viewport">
                        <ul id="containerSlider" class="carousel_slider carousel_slide" data-carousel="slider" style="width:1500%;">
                            
                                    <li id="slidePhoto" data-carousel="slide" class="carousel_slide" style="width:6.666667%;">
                                        <img id="ctl00_slidePhotoNew_rptPhotosMultimedia_ctl00_imgPhotonew" src="https://d.inmofactory.com/1/89621/16097895/211799708.jpg/690x518/p_1" alt="Foto 1 de Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital">
                                    </li> 
                                
                                    <li id="slidePhoto" data-carousel="slide" class="carousel_slide" style="width:6.666667%;">
                                        <img id="ctl00_slidePhotoNew_rptPhotosMultimedia_ctl01_imgPhotonew" src="https://d.inmofactory.com/1/89621/16097895/211799699.jpg/690x518/p_1" alt="Foto 2 de Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital">
                                    </li> 
                                
                                    <li id="slidePhoto" data-carousel="slide" class="carousel_slide" style="width:6.666667%;">
                                        <img id="ctl00_slidePhotoNew_rptPhotosMultimedia_ctl02_imgPhotonew" src="https://d.inmofactory.com/1/89621/16097895/211799682.jpg/690x518/p_1" alt="Foto 3 de Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital">
                                    </li> 
                                
                                    <li id="slidePhoto" data-carousel="slide" class="carousel_slide" style="width:6.666667%;">
                                        <img id="ctl00_slidePhotoNew_rptPhotosMultimedia_ctl03_imgPhotonew" src="https://d.inmofactory.com/1/89621/16097895/211799685.jpg/690x518/p_1" alt="Foto 4 de Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital">
                                    </li> 
                                
                                    <li id="slidePhoto" data-carousel="slide" class="carousel_slide" style="width:6.666667%;">
                                        <img id="ctl00_slidePhotoNew_rptPhotosMultimedia_ctl04_imgPhotonew" src="https://d.inmofactory.com/1/89621/16097895/211799688.jpg/690x518/p_1" alt="Foto 5 de Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital">
                                    </li> 
                                
                                    <li id="slidePhoto" data-carousel="slide" class="carousel_slide" style="width:6.666667%;">
                                        <img id="ctl00_slidePhotoNew_rptPhotosMultimedia_ctl05_imgPhotonew" src="https://d.inmofactory.com/1/89621/16097895/211799690.jpg/690x518/p_1" alt="Foto 6 de Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital">
                                    </li> 
                                
                                    <li id="slidePhoto" data-carousel="slide" class="carousel_slide" style="width:6.666667%;">
                                        <img id="ctl00_slidePhotoNew_rptPhotosMultimedia_ctl06_imgPhotonew" src="https://d.inmofactory.com/1/89621/16097895/211799693.jpg/690x518/p_1" alt="Foto 7 de Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital">
                                    </li> 
                                
                                    <li id="slidePhoto" data-carousel="slide" class="carousel_slide" style="width:6.666667%;">
                                        <img id="ctl00_slidePhotoNew_rptPhotosMultimedia_ctl07_imgPhotonew" src="https://d.inmofactory.com/1/89621/16097895/211799694.jpg/690x518/p_1" alt="Foto 8 de Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital">
                                    </li> 
                                
                                    <li id="slidePhoto" data-carousel="slide" class="carousel_slide" style="width:6.666667%;">
                                        <img id="ctl00_slidePhotoNew_rptPhotosMultimedia_ctl08_imgPhotonew" src="https://d.inmofactory.com/1/89621/16097895/211799700.jpg/690x518/p_1" alt="Foto 9 de Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital">
                                    </li> 
                                
                                    <li id="slidePhoto" data-carousel="slide" class="carousel_slide" style="width:6.666667%;">
                                        <img id="ctl00_slidePhotoNew_rptPhotosMultimedia_ctl09_imgPhotonew" src="https://d.inmofactory.com/1/89621/16097895/211799704.jpg/690x518/p_1" alt="Foto 10 de Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital">
                                    </li> 
                                
                                    <li id="slidePhoto" data-carousel="slide" class="carousel_slide" style="width:6.666667%;">
                                        <img id="ctl00_slidePhotoNew_rptPhotosMultimedia_ctl10_imgPhotonew" src="https://d.inmofactory.com/1/89621/16097895/211799712.jpg/690x518/p_1" alt="Foto 11 de Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital">
                                    </li> 
                                
                                    <li id="slidePhoto" data-carousel="slide" class="carousel_slide" style="width:6.666667%;">
                                        <img id="ctl00_slidePhotoNew_rptPhotosMultimedia_ctl11_imgPhotonew" src="https://d.inmofactory.com/1/89621/16097895/211799718.jpg/690x518/p_1" alt="Foto 12 de Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital">
                                    </li> 
                                
                                    <li id="slidePhoto" data-carousel="slide" class="carousel_slide" style="width:6.666667%;">
                                        <img id="ctl00_slidePhotoNew_rptPhotosMultimedia_ctl12_imgPhotonew" src="https://d.inmofactory.com/1/89621/16097895/211799721.jpg/690x518/p_1" alt="Foto 13 de Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital">
                                    </li> 
                                
                                    <li id="slidePhoto" data-carousel="slide" class="carousel_slide" style="width:6.666667%;">
                                        <img id="ctl00_slidePhotoNew_rptPhotosMultimedia_ctl13_imgPhotonew" src="https://d.inmofactory.com/1/89621/16097895/211799723.jpg/690x518/p_1" alt="Foto 14 de Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital">
                                    </li> 
                                
                                    <li id="slidePhoto" data-carousel="slide" class="carousel_slide" style="width:6.666667%;">
                                        <img id="ctl00_slidePhotoNew_rptPhotosMultimedia_ctl14_imgPhotonew" src="https://d.inmofactory.com/1/89621/16097895/211799726.jpg/690x518/p_1" alt="Foto 15 de Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital">
                                    </li> 
                                
                        </ul>
                    </div>
                </div>
            </section>
        
            
        
            
        </div>
        
        
                                    </div>
                                </section>
                                
                                
                                
        
                                
                                
        
                                <div class="purchased-products">
                                    
                                    
                                </div>
                            </div>
        
                            
        
                            
        
                            <aside id="utilities" class="property-options js-property-options"><article class="wrap-form-detail" id="contact-form">
                    <div id="sideContactForm" class="form-detail">
                        <h3>
                            <span id="ctl00_litphotoContactTitle">¡Contacta ahora!</span>
                        </h3>
                        <div class="narrow-contact property-contact-form">
                            <div id="verticalContactForm">
                                
        
        <style>
            .modal-form .contact-client-phone,
            .modal-form .property-phone {
                margin-top: 24px;
            }
        </style>
        
        
        
        
        
        <div id="kenshoo" visible="false">
            <img id="imgKenshoo" width="1" height="1">
        </div>
        
        
        
        
        
        <div id="ctl00_ucInfoRequestGeneric_divClientLogo" class="contact-client-pro">
                
                <div id="ctl00_ucInfoRequestGeneric_pClientLogo" class="contact-client-logo c-align">
                    <a href="//www.fotocasa.es/inmobiliarias/infocasa-consulting-500180062533" id="ctl00_ucInfoRequestGeneric_aLogo" qs="?mb_ci=724&amp;mb_ll2=28&amp;mb_ll5=28079&amp;tti=1">
                        <img id="ctl00_ucInfoRequestGeneric_imgLogo" class="property-agency-logo" src="https://d.fotocasa.es/client/500180062533/424620.jpg" alt="Oferta inmobiliaria de Infocasa Consulting en Fotocasa.es">
                    </a>
                </div>
        
                
                
        
                
                <div id="ctl00_ucInfoRequestGeneric_divMoreBuildings" class="contact-client-agency agency">
                    <a id="lnkMoreBuildings" class="agency-microsite bold" qs="?mb_ci=724&amp;mb_ll2=28&amp;mb_ll5=28079&amp;tti=1" href="//www.fotocasa.es/inmobiliarias/infocasa-consulting-500180062533">Infocasa Consulting</a>
                    <br>
                </div>
            </div>
        
        <div id="ctl00_ucInfoRequestGeneric_containerInfoRequest" class="fieldsets-container">
            
            <fieldset id="ctl00_ucInfoRequestGeneric_dlContact" class="form form--vertical">
                
                
                
                
                <ol id="ctl00_ucInfoRequestGeneric_ContactBox" class="form-contact-box form-contact-box-collapsed">
                    <li id="dlCurrentPrice" class="form_field clearfix hide">
                        <label class="bold">
                            Precio actual:
                        </label>
                        <span>
                            
                            
                            <span id="Span1" name="currentPriceModal"></span>
                            <span id="ctl00_ucInfoRequestGeneric_Span3" name="belowAveragePriceModal" class="below-average bold"></span>
                        </span>
                    </li>
                    <li id="dlPriceOffer" class="form_field clearfix hide">
                        <label for="ctl00_ucInfoRequestGeneric_txtPriceOffer" id="ctl00_ucInfoRequestGeneric_lbl_txtPriceOffer" class="form_field_label">Precio propuesto:<span id="ctl00_ucInfoRequestGeneric_litPriceOfferAsk" class="required">* </span></label>
                        <div class="form_field_inputs">
                            <input name="ctl00$ucInfoRequestGeneric$txtPriceOffer" type="text" id="ctl00_ucInfoRequestGeneric_txtPriceOffer" onblur="FTC.cleanTag(this);" onkeypress="return OnlyNumbers(event);" maxlength="20">
                            <span id="ctl00_ucInfoRequestGeneric_valrPriceOffer" class="val-error-under hide">
                                <span class="val-msg">Revisa tu precio, no parece correcto</span>
                            </span>
                        </div>
                    </li>
                    <li id="ctl00_ucInfoRequestGeneric_UserInfo" class="form_field clearfix hide">
                        <div class="contact-client-info">
                            <div id="ctl00_ucInfoRequestGeneric_userIcon" class="swith-user_off">
                                <i class="fc-icon-user"></i>
                            </div>
                            
                            <div id="ctl00_ucInfoRequestGeneric_not_connected">No estás conectado</div>
                            <div class="user-info">
                                <div id="ctl00_ucInfoRequestGeneric_connected" data-id="connected">Conectado como </div>
                                <span id="ctl00_ucInfoRequestGeneric_identify" data-colorphone="black"><a href="/actualizar-usuario__fotocasa.aspx">Tus datos</a></span>
                            </div>
                        </div>
                    </li>
                    <li id="ctl00_ucInfoRequestGeneric_dlComments" class="form_field clearfix comments-field">
                        <div class="form_field_inputs">
                            <textarea name="ctl00$ucInfoRequestGeneric$txtComments" id="ctl00_ucInfoRequestGeneric_txtComments" onblur="FTC.cleanTag(this);" cols="8" rows="3" placeholder="Tu mensaje ( obligatorio )">Me gustaría recibir más información de este Piso</textarea>
                            
                        </div>
                        <div id="ctl00_ucInfoRequestGeneric_dlCommentsRequired" class="clearfix">
                            <div id="ctl00_ucInfoRequestGeneric_commentsRequired" class="val-error-under hide">
                                <span id="ctl00_ucInfoRequestGeneric_lbcommentsRequired">Debes escribir un mensaje</span>
                            </div>
                        </div>
                    </li>
                    <li id="ctl00_ucInfoRequestGeneric_dlName" class="form_field clearfix">
                        <div class="form_field_inputs">
                            <input name="ctl00$ucInfoRequestGeneric$txtName" type="text" id="ctl00_ucInfoRequestGeneric_txtName" onblur="FTC.cleanTag(this);" placeholder="Tu nombre">
                            
                        </div>
                    </li>
                    
                    <li id="ctl00_ucInfoRequestGeneric_dlEmail" class="form_field clearfix">
                        <div class="form_field_inputs">
                            <input name="ctl00$ucInfoRequestGeneric$txtEmail" type="email" id="ctl00_ucInfoRequestGeneric_txtEmail" onblur="FTC.cleanTag(this);" placeholder="Tu e-mail ( obligatorio )">
                            <span id="ctl00_ucInfoRequestGeneric_valrEmail" class="val-error-under hide">
                                <span class="val-msg">E-mail incorrecto</span>
                            </span>
                             <div id="ctl00_ucInfoRequestGeneric_dlOptionalMsg" class="clearfix">
                                <div id="ctl00_ucInfoRequestGeneric_optionalMsg" class="val-error-under hide">
                                    <span id="ctl00_ucInfoRequestGeneric_lblOptionalMsg">Indica tu e-mail</span>
                                </div>
                            </div>
                            
                           
                        </div>
                        <input name="ctl00$ucInfoRequestGeneric$isRequiredEmail" type="hidden" id="ctl00_ucInfoRequestGeneric_isRequiredEmail" value="0">
                    </li>
                     <li id="ctl00_ucInfoRequestGeneric_dlPhone" class="form_field clearfix">
                        <div class="form_field_inputs">
                            <input name="ctl00$ucInfoRequestGeneric$txtPhone" type="text" id="ctl00_ucInfoRequestGeneric_txtPhone" onblur="FTC.cleanTag(this);" maxlength="16" placeholder="Tu teléfono">
                            <span id="ctl00_ucInfoRequestGeneric_valrPhone" class="val-error-under hide">
                                <span class="val-msg">Teléfono incorrecto</span>
                            </span>
                        </div>
                        <input name="ctl00$ucInfoRequestGeneric$isRequiredPhone" type="hidden" id="ctl00_ucInfoRequestGeneric_isRequiredPhone" value="0">                   
                    </li>
                    
                    
                </ol>
                <div id="ctl00_ucInfoRequestGeneric_clearContact" class="clear"></div>
                
                 
                    <div class="legal-options legal-options-hidden">
                        <input name="ctl00$ucInfoRequestGeneric$legalConditions" type="checkbox" id="ctl00_ucInfoRequestGeneric_legalConditions"><span id="ctl00_ucInfoRequestGeneric_Label2">Acepto las <a id="lnk-legal" onclick="linkLegal('/es/aviso-legal/ln')" href="#">condiciones de uso</a>, la <a id="lnk-privacity" href="#" onclick="linkPrivacity('/es/politica-privacidad/p#informaci-n-b-sica-sobre-protecci-n-de-datos-del-formulario-de-contacto')">información básica de Protección de Datos</a> y darme de alta en fotocasa</span><div id="ctl00_ucInfoRequestGeneric_legalConditionsValidator" class="val-error-under hide">
                            <span class="val-msg">Debes aceptar el aviso legal</span>
                        </div>
                        
                    </div>
                
                <div id="ctl00_ucInfoRequestGeneric_btnContactContainer" class="form-actions buttons">
                    <div id="divContactContainer" class="form-detail-button--contact">
                        <a id="ctl00_ucInfoRequestGeneric_btnContact" class="button button--large button--accent button--full" onclick="SetcModal('ctl00_ucInfoRequestGeneric', '0', 'ctl00_ucInfoRequestGeneric_btnContact');_typeStandard='1'; _typeShowPhone='2'; if (ValidateFields('ctl00_ucInfoRequestGeneric', '1', '1', '0')) { FTC.clickbyLevel('contact_sent', '', 'noclick'); }_typeStandard='0'; _typeShowPhone='0';FTC.requestInformationPhone = false; _opi = 1; RequestInformationGeneric('ctl00_ucInfoRequestGeneric', 149398213, 0, 672, 'es-es', '1', '0', '1', '1', false, 1,3); ">Contactar</a>
                    </div>
                </div>
                
               
                <div id="ctl00_ucInfoRequestGeneric_divMsgSendingContact" style="display: none;">
                    <b>
                        <span id="ctl00_ucInfoRequestGeneric_lblMsgSendingContact">Enviando...</span></b>
                </div>
            </fieldset>
        </div>
        
        
        
        
        <div id="ctl00_ucInfoRequestGeneric_contactResult" class="contact-result hide"></div>
        
        
        
        
        
        
        
        <div id="divMsgClientPhone" style="display: none">
            <div id="ctl00_ucInfoRequestGeneric_msgClientPhone">
                <div class="property-phone">
                    <span id="ctl00_ucInfoRequestGeneric_iconPhone" class="fc-icon-phone"></span>
                    <img src="https://www.fotocasa.es/Portals/49/Images/1pixel.gif" id="imgPhoneImageText">
                    
                    <a id="ctl00_ucInfoRequestGeneric_imgPhoneImageText2"></a>
                </div>
                <img src="https://www.fotocasa.es/Portals/49/Images/1pixel.gif" id="imgMsn">
            </div>
        </div>
        
        <fieldset id="ctl00_ucInfoRequestGeneric_contactForm" class="contact-form contact-client-phone">
            <img src="https://www.fotocasa.es/Portals/49/Images/Pix.gif" id="ctl00_ucInfoRequestGeneric_imgTD" style="display: none">
            
            <div id="ctl00_ucInfoRequestGeneric_trackedPhone">
                <img src="https://www.fotocasa.es/Portals/49/Images/1pixel.gif" id="ctl00_ucInfoRequestGeneric_img1" style="display: none">
                <div id="ctl00_ucInfoRequestGeneric_divTrackedPhone">
                    <div id="ctl00_ucInfoRequestGeneric_divPhoneSymbol" class="view-phone-bottom-icon">
                        <p class="property-callnow">
                            <strong>
                                <span class="text-beta">
                                    <span class="fc-icon-phone"></span>
                                </span>
                                <img src="https://www.fotocasa.es/Handlers/PhoneImageText.ashx?Text=7A5CFA42A83AE6CFA4E95EE7B4812622&amp;Size=20&amp;Bold=True" id="ctl00_ucInfoRequestGeneric_imgPhoneImageTextTracked">
                                <a id="ctl00_ucInfoRequestGeneric_PhoneLinkTextTracked"></a>
                            </strong>
                        </p>
                    </div>
                    <div style="display: none;" class="help-msg-box" id="frm_viewedIn">
                        <div class="help-msg-text">
                            <span id="ctl00_ucInfoRequestGeneric_lbl_viewedIn">No olvides decir que lo has visto en fotocasa.es</span>
                        </div>
                    </div>
                    <div>
                        
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="agency-contact-container">
            
            <span id="ctl00_ucInfoRequestGeneric_divReference" class="agency-reference">Referencia : 0015bis</span><br>
            
            <span id="ctl00_ucInfoRequestGeneric_divContact" class="agency-contact">Contacto: Infocasa Consulting</span><br>
        </div>
        
        
        <input name="ctl00$ucInfoRequestGeneric$hidEmbedded" type="hidden" id="ctl00_ucInfoRequestGeneric_hidEmbedded">
        <input name="ctl00$ucInfoRequestGeneric$hid_maxPricePercentDiscount" type="hidden" id="hid_maxPricePercentDiscount" value="0">
        
        
        
        
        
        
        <!--[if lte IE 9]>
        <script>$("input").placeholder();</script>
        <![endif]-->
        
        
        
        
        <input name="ctl00$ucInfoRequestGeneric$cButton" type="hidden" id="ctl00_ucInfoRequestGeneric_cButton">
        
        <input name="ctl00$ucInfoRequestGeneric$cModal" type="hidden" id="ctl00_ucInfoRequestGeneric_cModal" value="0">
                            </div>
                        </div>
                    </div>
                </article>
                                <div class="box-tabs">
                                    <ul>
                                        <li id="liFavorite" class="property-option js-options-fav">
                                            <div title="Favorito">
                                                <div id="Ad_149398213_1_0" class="cFavorite" onclick="AddToFavorite(this);" data-action="want" type="favicon" adid="149398213" pid="0" ttid="1" ppi="0" bid="2" iddiv="Ad_149398213_1_0" idtip="flotDivAd_149398213_1_0" ui="0"></div><a class="add2favs hide" id="FavouritesAddText_0_149398213" onclick="clickFavStar(&quot;149398213&quot;, &quot;0&quot;, &quot;1&quot;, &quot;0&quot;);" style="display: inline;">Añadir a favoritos</a><a class="add2favs hide" id="FavouritesAddedText_0_149398213" onclick="clickFavStar(&quot;149398213&quot;, &quot;0&quot;, &quot;1&quot;, &quot;0&quot;);" style="display: none;">Añadir a favoritos</a>
                                            </div>
                                        </li>
                                        <li id="ctl00_lnkShared" class="property-option js-options-share" onclick="utag.link({event_name:'c_detail_main_image_bar_compartir'}); ">
                                            <a>
                                                <i class="fc-icon-share"></i>
                                                <span class="property-option_text">
                                                    Compartir</span>
                                            </a>
                                        </li>
                                        <li id="lnkErrorContainer" class="property-option js-options-report" onclick="utag.link({event_name:&quot;c_detail_main_image_bar_reportar&quot;});FTC.loadReportError(0,false); return false;">
                                            <a id="ctl00_ErrorContainer" title="Denunciar">
                                                <i class="fc-icon-flag"></i>
                                                <span class="property-option_text">
                                                    Reportar</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div id="favoriteDetail" class="box-tabs-pane" style="display: none">
                                    <div class="special-box-content">
                                        <div class="property-options-rating">
                                            <label for="ratingFavorites" id="ctl00_Label1">Tu valoración:</label>
                                            <span id="ratingFavorites" class="rating"><fieldset id="ctl00_div_fav" class="o-rating">
            <legend class="offscreen"><span class="offscreen">Puntuar</span></legend>
            
            <input name="ctl00$hAdId" type="hidden" id="ctl00_hAdId" class="AdIdClass" value="149398213">
            <input name="ctl00$hPromotionId" type="hidden" id="ctl00_hPromotionId" class="PromotionIdClass" value="0">
            <input name="ctl00$hTransactionTypeId" type="hidden" id="ctl00_hTransactionTypeId" class="transactionTypeClass" value="1">
            <input name="ctl00$hPaymentPeriodicityId" type="hidden" id="ctl00_hPaymentPeriodicityId" class="paymentPeriodicityClass" value="0">
            
            <span class="star-rating-control"><span class="rating-cancel" style="display: none;"><a title="Cancel Rating"></a></span><span class="star-rating rater-0 star star-rating-applied star-rating-live" id="ctl00_ratingRate1"><a class="rating-click" title="1">"1</a></span><span class="star-rating rater-0 star star-rating-applied star-rating-live" id="ctl00_ratingRate2"><a class="rating-click" title="2">"2</a></span><span class="star-rating rater-0 star star-rating-applied star-rating-live" id="ctl00_ratingRate3"><a class="rating-click" title="3">"3</a></span><span class="star-rating rater-0 star star-rating-applied star-rating-live" id="ctl00_ratingRate4"><a class="rating-click" title="4">"4</a></span><span class="star-rating rater-0 star star-rating-applied star-rating-live" id="ctl00_ratingRate5"><a class="rating-click" title="5">"5</a></span></span><input value="1" name="ctl00$14939821310" type="radio" id="ctl00_ratingRate1" class="star star-rating-applied" style="display: none;">
            <input value="2" name="ctl00$14939821310" type="radio" id="ctl00_ratingRate2" class="star star-rating-applied" style="display: none;">
            <input value="3" name="ctl00$14939821310" type="radio" id="ctl00_ratingRate3" class="star star-rating-applied" style="display: none;">
            <input value="4" name="ctl00$14939821310" type="radio" id="ctl00_ratingRate4" class="star star-rating-applied" style="display: none;">
            <input value="5" name="ctl00$14939821310" type="radio" id="ctl00_ratingRate5" class="star star-rating-applied" style="display: none;">
        </fieldset></span>
                                        </div>
                                        <div class="property-options-comment">
                                            <label for="comFavorites" id="ctl00_Label2">Tu notas:</label>
                                            <textarea name="ctl00$comFavorites" id="comFavorites" cols="8" rows="8"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </aside>
        
                        </section>
        
                        <div id="ctl00_thumbnails" class="property-media-thumbnails clearfix">
                            <ul>
                                
                            </ul>
                        </div>
        
                        <div class="property-summary">
                            <div class="property-summary_inner">
                                
                            </div>
                        </div>
                    </div>
        
                        
                        <section id="MainFeatures" class="section" data-section="main-features"><div id="ctl00_Features" class="detail-section-header">
            <h3>
                Características
            </h3>
        </div>
        <div class="detail-section-content">
        
            <div class="detail-caracteristics--col">
                
                        <ul class="detail-caracteristics--list">
                    
                        <li>
                            <span id="ctl00_rptMainFeaturesLeft_ctl01_litFeatures" data-propertysubtype="1">Tipo de inmueble : Piso</span>
                        </li>
                    
                        <li>
                            <span id="ctl00_rptMainFeaturesLeft_ctl02_litFeatures" data-conservationstate="1">Estado : Casi nuevo</span>
                        </li>
                    
                        <li>
                            <span id="ctl00_rptMainFeaturesLeft_ctl03_litFeatures" data-antiquity="6">Antigüedad : De 30 a 50 años</span>
                        </li>
                    
                        </ul>
                    
            </div>
        
            <div class="detail-caracteristics--col">
                
                        <ul class="detail-caracteristics--list">
                    
                        <li>
                            <span id="ctl00_rptMainFeaturesRight_ctl01_litFeatures" data-hotwater="1">Agua caliente sanitaria : Gas Natural</span>
                        </li>
                    
                        <li>
                            <span id="ctl00_rptMainFeaturesRight_ctl02_litFeatures" data-heating="1">Calefacción : Gas Natural</span>
                        </li>
                    
                        </ul>
                    
            </div>
        
        
            
            
            
        </div></section>
        
                        
                        <section id="divFeatures" class="section"><div id="ctl00_Features" class="detail-section-header">
                <h3>
                    Extras
                </h3>
            </div>
            <div class="detail-section-content">
                
                        <ul class="detail-extras">
                    
                        <li>
                            Amueblado
                        </li>
                    
                        <li>
                            Armarios
                        </li>
                    
                        <li>
                            Ascensor
                        </li>
                    
                        <li>
                            Calefacción
                        </li>
                    
                        <li>
                            Cocina Equipada
                        </li>
                    
                        <li>
                            Electrodomésticos
                        </li>
                    
                        <li>
                            Puerta Blindada
                        </li>
                    
                        </ul>
                    
                <div class="clear"></div>
            </div>
            
            <div class="detail-section-content">
                
                <div class="clear"></div>
            </div>
            
            <div class="detail-section-content">
                
                <div class="clear"></div>
            </div>
            
            <div class="detail-section-content">
                
                <div class="clear"></div>
            </div></section>
        
                        
                        <section id="ctl00_ddDescription" class="section">
                            <div class="detail-section-header">
                                <h3>
                                    Descripción
                                </h3>
                            </div>
                            <div class="detail-section-content">
                                
                                <p class="detail-description detail-description-collapsed">
                                    ¿Estabas buscando un apartamento nuevo a estrenar con calidades de lujo y diseño moderno ? 
        ¡¡Ideal Inversores ! ! 
         Precioso apartamento en una de las zonas más de moda de nuestra capital. 
         Reformado a estrenar en primeras calidades, se trata de una vivienda muy luminosa, consta de salón comedor, cocina moderna abierta completamente equipada, con todos los electrodomésticos, un dormitorio amplio con armario empotrado,baño completo con ducha de obra. Es ideal para vivir, se entrega completamente amueblado. 
        Excelente ubicación y rodeado de todo tipo de servicios; comercios, restaurantes, bancos. Cercano a la Latina y junto al Centro Cultural de Tabacalera. Muy bien comunicado, todos los transportes públicos (Metro - Tren Cercanías - Autobuses) y buena comunicación por carretera, siendo una barrio de preferencia residencial en cuanto a coches.  
        Dispone de departamento financiero, jurídico y de reformas. 
        No dudes en contactar con nosotros. 
        Te esperamos.
                                </p>
                                <div class="detail-description-gradient"></div>
                                <a class="detail-description-uncollapse">
                                    Leer descripción completa
                                </a>
                            </div>
                        </section><section id="services" class="section" style="display: block;">
                        <div id="mpResult"><div class="mpResultLink" id="mpResultInsurance"><img src="https://logs1209.xiti.com/get.ad?xts=470361&amp;ati=PUB-[Marketplace]-[Insurance_Realestate]--[Textlink_Desktop]--[Detail]&amp;type=AT&amp;rn=0.9750241269600634&amp;url=https://c.dcdn.es/pao_all_marketplace/img/pixel.gif"><a href="https://logs1209.xiti.com/go.ad?xts=470361&amp;atc=PUB-[Marketplace]-[Insurance_Realestate]--[Textlink_Desktop]--[Detail]&amp;type=AT&amp;url=http://seguros-hogar.fotocasa.es?portal=1&amp;mp=4&amp;o=2&amp;ad_publisher_type_id=1&amp;ads_name_page=fotocasaes%252Ftv%252Fficha&amp;city=+Madrid+Capital&amp;mts2=60&amp;price=225000&amp;property_id=2&amp;property_state_id=1&amp;property_sub_id=1&amp;region_level2=Madrid&amp;rooms=1&amp;transaction_id=1&amp;event_name=detail&amp;urlp=https%253A%252F%252Fd.inmofactory.com%252F1%252F89621%252F16097895%252F211799708.jpg%252F640x480" target="_blank" rel="nofollow"><i class="icon-seg-hogar"></i><span class="lnk-text">Asegura tu hogar</span></a></div><div class="mpResultLink" id="mpResultAlarms"><img src="https://logs1209.xiti.com/get.ad?xts=470361&amp;ati=PUB-[Marketplace]-[Alarmas]--[Textlink_Desktop]--[Detail]&amp;type=AT&amp;rn=0.19846163620393686&amp;url=https://c.dcdn.es/pao_all_marketplace/img/pixel.gif"><a href="https://logs1209.xiti.com/go.ad?xts=470361&amp;atc=PUB-[Marketplace]-[Alarmas]--[Textlink_Desktop]--[Detail]&amp;type=AT&amp;url=http://alarmas-hogar.fotocasa.es?portal=1&amp;mp=9&amp;o=2&amp;ad_publisher_type_id=1&amp;ads_name_page=fotocasaes%252Ftv%252Fficha&amp;city=+Madrid+Capital&amp;mts2=60&amp;price=225000&amp;property_id=2&amp;property_state_id=1&amp;property_sub_id=1&amp;region_level2=Madrid&amp;rooms=1&amp;transaction_id=1&amp;event_name=detail&amp;urlp=https%253A%252F%252Fd.inmofactory.com%252F1%252F89621%252F16097895%252F211799708.jpg%252F640x480" target="_blank" rel="nofollow"><i class="icon-alarmas"></i><span class="lnk-text">Solicita tu alarma</span></a></div><div class="mpResultLink" id="mpMovago"></div><div class="mpResultLink" id="mpLegalitas"><a href="https://ams1-ib.adnxs.com/click?AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABx9cXTaYe55l8jYPenNXAPCtCdcAAAAAA0coADgDAAA4AwAAAIAAAASgR0EvroQAAAAAABVU0QARVVSAAEAAQCnPQAAAAABAgMCAAAAALQA_BLknQAAAAA./bcr=AAAAAAAA8D8=/cnd=%21xg_hjwjU2oUIEJKC9iAYvvVCIAQoADEAAAAAAAAAADoJQU1TMTo0MTc0QN4DSYo8Sbpm8us_UQAAAAAAAAAAWQAAAAAAAAAA/cca=MzI5NiNBTVMxOjQxNzQ=/bn=84039/referrer=https%3A%2F%2Fwww.fotocasa.es%2Fvivienda%2Fmadrid-capital%2Fcalefaccion-ascensor-amueblado-embajadores-lavapies-149398213%3FRowGrid%3D1%26tti%3D1%26opi%3D300/clickenc=https://www.legalitas.com/promo/fotocasa/vivienda" target="_blank"><i class="icon-legalitas"></i><span class="lnk-text">Tu contrato sin sorpresas</span></a></div><iframe id="es-fc-wde-tv-detail-textlink_1" style="display: none;"></iframe></div></section>
        
                        <section id="PromotionAds" class="section hide loading-detail-module"></section>
        
                        
        
                        <div style="display: none;">
                            <span id="hidLitNotAccuratedAddress">La posición en el mapa es<br>aproximada por deseo del anunciante</span>
                        </div>
        
                        <section id="Recomendations" class="loading-detail-module">
                            <span class="o-spinner" style="display: none;"></span>
                        
        
        
        <section id="detailRecomended" class="section recomended-gallery_section" style="display: block;">
            <h1 class="text-beta">Si te gusta, también te recomendamos</h1>
            <div data-section="recomended" class="recomended-gallery" id="detail">
                <ul data-gallery="recomended-gallery-wrapper">
                    <li class="recomended-gallery_item-wrapper">
                        <div class="recomended-gallery_item">
                            <div class="recomended-gallery_media">
                                <a href="https://www.fotocasa.es/vivienda/madrid-capital/calefaccion-ascensor-no-amueblado-calle-batalla-de-salado-4-149409593?rc=5e10b92e-d961-4e29-a985-72ec50544b09"><img src="https://d.inmofactory.com/1/90902/16106336/212017725.jpg/300x225/b_fff"></a>
                            </div>
                            <div class="recomended-gallery_content">
                                <div>
                                    <a data-handlerdetail="true" data-gallery="recomended-gallery-location" data-url="" data-promotionid="0" data-propertyid="" class="property-gallery-list_item_zone" href="https://www.fotocasa.es/vivienda/madrid-capital/calefaccion-ascensor-no-amueblado-calle-batalla-de-salado-4-149409593?rc=5e10b92e-d961-4e29-a985-72ec50544b09">Calle Batalla de Salado, 4</a>
                                    <span class="property-gallery-list_item_location" data-gallery="recomended-gallery-zone"> Madrid Capital</span>
        
                                    <span class="property-gallery-list_item_properties" data-gallery="recomended-gallery-properties">2 habs     
        ,62  m<sup>2</sup>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <span class="property-gallery-list_item_price" data-gallery="recomended-gallery-price">225.000€</span>
                            </div>
                        </div>
                    </li>
                    <li class="recomended-gallery_item-wrapper">
                        <div class="recomended-gallery_item">
                            <div class="recomended-gallery_media">
                                <a href="https://www.fotocasa.es/vivienda/madrid-capital/aire-acondicionado-calefaccion-ascensor-calle-juan-de-urbieta-28-149390237?rc=5e10b92e-d961-4e29-a985-72ec50544b09"><img src="https://d.inmofactory.com/1/112673/16093903/211700414.jpg/300x225/b_fff"></a>
                            </div>
                            <div class="recomended-gallery_content">
                                <div>
                                    <a data-handlerdetail="true" data-gallery="recomended-gallery-location" data-url="" data-promotionid="0" data-propertyid="" class="property-gallery-list_item_zone" href="https://www.fotocasa.es/vivienda/madrid-capital/aire-acondicionado-calefaccion-ascensor-calle-juan-de-urbieta-28-149390237?rc=5e10b92e-d961-4e29-a985-72ec50544b09">Calle Juan de Urbieta, 28</a>
                                    <span class="property-gallery-list_item_location" data-gallery="recomended-gallery-zone"> Madrid Capital</span>
        
                                    <span class="property-gallery-list_item_properties" data-gallery="recomended-gallery-properties">2 habs     
        ,45  m<sup>2</sup>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <span class="property-gallery-list_item_price" data-gallery="recomended-gallery-price">195.000€</span>
                            </div>
                        </div>
                    </li>
                    <li class="recomended-gallery_item-wrapper">
                        <div class="recomended-gallery_item">
                            <div class="recomended-gallery_media">
                                <a href="https://www.fotocasa.es/vivienda/madrid-capital/ascensor-embajadores-lavapies-149445945?rc=5e10b92e-d961-4e29-a985-72ec50544b09"><img src="https://d.inmofactory.com/1/89621/16126893/212511180.jpg/300x225/b_fff"></a>
                            </div>
                            <div class="recomended-gallery_content">
                                <div>
                                    <a data-handlerdetail="true" data-gallery="recomended-gallery-location" data-url="" data-promotionid="0" data-propertyid="" class="property-gallery-list_item_zone" href="https://www.fotocasa.es/vivienda/madrid-capital/ascensor-embajadores-lavapies-149445945?rc=5e10b92e-d961-4e29-a985-72ec50544b09">Embajadores - Lavapiés</a>
                                    <span class="property-gallery-list_item_location" data-gallery="recomended-gallery-zone"> Madrid Capital</span>
        
                                    <span class="property-gallery-list_item_properties" data-gallery="recomended-gallery-properties">1 habs     
        ,53  m<sup>2</sup>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <span class="property-gallery-list_item_price" data-gallery="recomended-gallery-price">230.000€</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <span class="o-spinner" style="display: none;"></span>
            </div>
        </section>
        </section>
        
                        <section class="section section--noBorder">
                            <div class="detail-section-header">
                                <h3>
                                    Ubicación del inmueble
                                </h3>
                            </div>
                            <div class="detail-section-content">
                                Piso en Centro - Embajadores - Lavapiés / Embajadores - Lavapiés,  Madrid Capital
                            </div>
                        </section>
        
                        
        
                        <section id="mapDetail" data-section="ubication"></section>
        
                        <section id="energyCertificate" class="section"></section>
        
                        <section id="averagePrice"></section>
        
                        <div id="detailReference" class="section">
                            Referencia fotocasa.es: 149398213<br>
                            
                            
                        </div>
        
                        
                </article>
                
                
                
            </div>
        
            
            
        
            
        
            <div id="tooltip-wrapper">
                <div id="toolTipArrowsKeys" class="tooltip inferior right hide">
                    <div class="arrow-keys-content">
                        <span id="ctl00_lblKeyBoard"><strong>Consejo: </strong> También puedes desplazarte por los anuncios con las teclas de navegación de tu teclado.</span>
                    </div>
                </div>
            </div>
        
            <div id="lightbox-wrapper">
                <div id="modalPhotos" style="display: none"></div>
            </div>
        
            
            <div id="modalWrapper">
                <div id="modal">
                    <div id="dialog" class="modalPhotoRequest" style="display: none; max-width: 392px;"></div>
        
                    <div id="dialog-response" class="contact-result" style="display: none;">
                        <a href="#" class="modal_close" data-modal="close"></a>
                    </div>
                    <div id="dialog2" role="dialog" style="display: none; max-width: 432px;"></div>
                    <div id="dialog3" role="dialog" style="display: none; max-width: 432px;"></div>
        
                    <div id="dialog5" role="dialog" style="display: none; max-width: 640px; padding: 60px;">
                        <a href="#" class="modal_close" data-modal="close"></a>
                        <iframe id="ctl00_iframeVTP" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" width="100%" height="100%" style="background-color: rgb(255, 255, 255); overflow: hidden;"></iframe>
                    </div>
                    <div id="modal24x7Login" role="dialog" style="display: none; max-width: 434px;"></div>
                    <div id="modalLogin" style="display: none; max-width: 434px;">
                    </div>
                    <div id="dialogCaptcha" role="dialog">
                        <span class="modal_close" data-modal="close"></span>
                        <iframe id="iCaptcha" width="440" height="335" frameborder="0" scrolling="no" style="overflow: hidden;"></iframe>
                    </div>
                    <div id="dialog-showPhone" style="display: none; max-width: 525px" role="dialog">
                    </div>
        
                    <div id="dialog-share" style="display: none;">
                        <div id="shareModalTitle">
                            <div class="modal_header">
                                <h3 class="modal_title">
                                    Compartir
                                    <span class="modal_close" data-modal="close" id="shareCloseResult"></span>
                                </h3>
                            </div>
                        </div>
        
                        <ul class="dialog-share-buttons">
                            <li>
                                <a id="TopBarSend2Friend" class="button button--small" onclick="FTC.loadSendFriend();utag.link({event_name:'Detalle::Barra_lateral::Compartir::enviar_amigo'}); return false;" href="../../UserControl/ObjectViews/#">
                                    <i class="fc-icon-envelop"></i>
                                    <span id="ctl00_lblTopBarSend2Friend">Enviar a un amigo</span></a>
                            </li>
                            <li>
                                <a id="ctl00_TopBarFacebook" class="button button--small" href="http://www.facebook.com/share.php?u=https%3a%2f%2fwww.fotocasa.es%2fvivienda%2fmadrid-capital%2fcalefaccion-ascensor-amueblado-embajadores-lavapies-149398213" target="_blank">
                                    <i class="fc-icon-facebook"></i>
                                    <span id="ctl00_lblTopBarFacebook">Compartir</span></a>
                            </li>
                            <li>
                                <a id="ctl00_TopBarTwitter" class="button button--small" href="http://twitter.com/share?url=https%3a%2f%2fwww.fotocasa.es%2fvivienda%2fmadrid-capital%2fcalefaccion-ascensor-amueblado-embajadores-lavapies-149398213&amp;text=fotocasa.es - Pisos en centro - embajadores - lavapiés , 60 m2 , 1 hab" target="_blank">
                                    <i class="fc-icon-twitter"></i>
                                    <span id="ctl00_lblTopBarTwitter">Twittear</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="mask" class="modal-overlay" data-modal="overlay"></div>
            </div>
            <div class="clear"></div>
            <div id="loading" class="hide">
                <div class="c-align">
                    <span class="o-spinner"></span>
                </div>
            </div>
            <div id="PubMiddle1" class="hide"></div>
        
            
        
            <script>
                //<![CDATA[
                var language = 'es-es';
                var transactionType = '1';
                var culture = 'es-ES'; // Por defecto
                var adId = '149398213';
                var promotionId = '0';
                var clientTypeId = '3';
        
                FTC.language = 'es-es';
                FTC.isNewDetail = 'False';
                FTC.isDetailResponsive = 'True';
                var _idMapNoPhoto = "";
        
                $("#ctl00_buttonContextualShowPhone .header-pagination_item_inner").attr("href", $("#hid_AdPhone").val());
        
                FTC.jsonVideos = '';
                FTC.acceptVideoTagHtml5 = 'True';
        
                function removeTooltip(objMouseOver, id) {
                    var idElem = $("#" + id);
                    var tooltipWidth = idElem.outerWidth();
                    var iconWidth = 20;
                    var elOffset = $(objMouseOver).offset();
        
                    idElem.css({
                        "left": elOffset.left - (tooltipWidth / 2) + (iconWidth / 2),
                        "top": elOffset.top + 32
                    }).show();
                }
        
                //Tooltip for icon fav in the top bar
                $("#topBarIconFav").mouseover(function () {
                    if ($('#topBarIconFav').hasClass('cFavorite')) {
                        removeTooltip(this, "favToolTip");
                    }
                }).mouseout(function () {
                    $("#favToolTip").hide();
                });
        
                $("#iconInfoShowPhone").mouseover(function () {
                    removeTooltip(this, "infoPhoneToolTip");
                }).mouseout(function () {
                    $("#infoPhoneToolTip").hide();
                });
        
                function setClickForPhoneIcon()
                {
                    FTC.clickbyLevel('contact_sent_call_phone','', 'noclick');
                    scrollToContactFormIfShowPhoneIsFalse();
                }
        
                //]]>
            </script>
        
            <script type="application/ld+json">
                {
                    "@context": "http://schema.org",
                    "@type": "Product",
                    "name": "Piso en venta en Centro - Embajadores - Lavapiés",
                    "image": "https://d.inmofactory.com/1/89621/16097895/211799708.jpg/640x480",
                    "description": "Estabas buscando un apartamento nuevo a estrenar con calidades de lujo y diseno moderno 
         ideal inversores 
         precioso apartamento en una de las zonas mas de moda de nuestra capital. 
         reformado a estrenar en primeras calidades se trata de una vivienda muy luminosa consta de salon comedor cocina moderna abierta completamente equipada con todos los electrodomesticos un dormitorio amplio con armario empotrado bano completo con ducha de obra. es ideal para vivir se entrega completamente amueblado. 
        excelente ubicacion y rodeado de todo tipo de servicios; comercios restaurantes bancos. cercano a la latina y junto al centro cultural de tabacalera. muy bien comunicado todos los transportes publicos metro tren cercanias autobuses y buena comunicacion por carretera siendo una barrio de preferencia residencial en cuanto a coches. 
        dispone de departamento financiero juridico y de reformas. 
        no dudes en contactar con nosotros. 
        te esperamos.",
                    "offers": {
                        "priceCurrency": "EUR",
                        "price": "225000"
                    }
                }
            </script>
        
            <script type="text/javascript" defer="">
                //<![CDATA[
                function applyModificationsToMarketplaceElements() {
                    var widthWindow = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
                    if (widthWindow <= 415) {
                        // Mobile, keep as it is
                    } else {
                        // Desktop
                        // Move element
                        $('span#priceContainer').after($('div.mpResultLink#mpResultFinance'));
                        $('i.icon-fin-hogar').remove();
                    }
                }
        
                // Check for PAO Add Optimizely tracking to marketplace links & apply experiment changes (if needed)
                // Those links are added to the DOM later... so wait for them
                function checkForMarketplaceElements() {
                    if ($("#mpResultFinance a").length==1) {
                        applyModificationsToMarketplaceElements();
                    } else {
                        setTimeout(checkForMarketplaceElements, 1000);
                    }
                }
        
                checkForMarketplaceElements();
                //]]>
            </script>
            <script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script><script type="text/javascript">    window.criteo_q = window.criteo_q || [];    window.criteo_q.push(            { event: 'setAccount', account: [14719, 21383, 25946] },            { event: 'setCustomerId', id: '' },            { event: 'setSiteType', type: 'd' },            { event: 'setHashedEmail', email: '' },            { event: 'viewItem', item: '149398213' }    );</script>
            <script>  
                function LoadAdvertisement() {
                    if (REALESTATE.modules.realmedia) {
                        REALESTATE.modules.realmedia.config.SitePage = "tv/ficha";
                        REALESTATE.modules.realmedia.config.Positions = "Top1,Middle1,Middle2,x01,x02,x03,x10";
                        REALESTATE.modules.realmedia.config.Environment = "pro";
                        if (REALESTATE.modules.realmedia.config.Environment != "pro") {
                            REALESTATE.modules.realmedia.config.Host = '';
                        }
        
                        var advertisementConfig = JSON.parse('{"Country": "espana","oasGeoCountry": "724","Region": "madrid","oasGeoRegion": "28","oasGeoRegionStr": "Madrid","Zone1": "mad-madrid-centro","oasGeoZone1": "173","City": "mad-madrid-capital","oasGeoCity": "28079","oasGeoCityStr": "Madrid Capital","District": "madr-centro-de-madrid-capital","oasGeoDistrict": "672","Neighbourhood": "madr-embajadores","oasGeoNeighbourhood": "48","NeighbourhoodPremium": "madr-embajadores","TransactionType": "Venta","oasTransaction": "1","PropertyType": "Vivienda","oasProperty": "2","PropertySubtype": "1","oasPropertySub": ",1,","oasPropertySubStr": ",piso,","CustomerType": "Profesional","oasCustomer": "1","oasFeatures": ",2,3,13,19,21,84,131,","PropertyFeature": "armarios|||calefaccion|||ascensor|||amueblado|||electrodomesticos|||puerta-blindada|||","PriceRange": "150001-250000","oasPrice": "225000","Lat": "40.4092","Lng": "-3.70259","oasGeoPostalCode": "28005","oasDetailid": "112133565","oasNumRooms": "1","oasCompanyid": "500180062533","urlp": "https://d.inmofactory.com/1/89621/16097895/211799708.jpg/640x480","oasSqmetres": "60","oasEnergeticCert": "8","oasAntiquity": "6","oasState": ",1,","oasStateStr": ",casi-nuevo,","Conservation": "casi-nuevo","": "1","oasWater": "1","oasHeating": "1","oasCategory": "1"}');
        
                        $.each(advertisementConfig, function (key, value) {
                            REALESTATE.modules.realmedia.config[key] = value;
                        });
                    };
                }
            </script>
        <script type="text/javascript">
        var _T={Ads:{Page: 'tv/ficha',Taxonomy: false, Query: {"Country": "espana","oasGeoCountry": "724","Region": "madrid","oasGeoRegion": "28","oasGeoRegionStr": "Madrid","Zone1": "mad-madrid-centro","oasGeoZone1": "173","City": "mad-madrid-capital","oasGeoCity": "28079","oasGeoCityStr": "Madrid Capital","District": "madr-centro-de-madrid-capital","oasGeoDistrict": "672","Neighbourhood": "madr-embajadores","oasGeoNeighbourhood": "48","NeighbourhoodPremium": "madr-embajadores","TransactionType": "Venta","oasTransaction": "1","PropertyType": "Vivienda","oasProperty": "2","PropertySubtype": "1","oasPropertySub": ",1,","oasPropertySubStr": ",piso,","CustomerType": "Profesional","oasCustomer": "1","oasFeatures": ",2,3,13,19,21,84,131,","PropertyFeature": "armarios|||calefaccion|||ascensor|||amueblado|||electrodomesticos|||puerta-blindada|||","PriceRange": "150001-250000","oasPrice": "225000","Lat": "40.4092","Lng": "-3.70259","oasGeoPostalCode": "28005","oasDetailid": "112133565","oasNumRooms": "1","oasCompanyid": "500180062533","urlp": "https://d.inmofactory.com/1/89621/16097895/211799708.jpg/640x480","oasSqmetres": "60","oasEnergeticCert": "8","oasAntiquity": "6","oasState": ",1,","oasStateStr": ",casi-nuevo,","Conservation": "casi-nuevo","": "1","oasWater": "1","oasHeating": "1","oasCategory": "1"}}}
        </script>
        
                
            </div>