<div class="re-Searchresult-itemRow">
  <div class="re-Card">
    <div class="sui-CardComposable sui-CardComposable--landscape">
      <div class="sui-CardComposable-primary">
        <div class="re-Card-primary">
          <div class="re-Card-fav">
            <div><svg class="fc-Icon fc-Icon--s re-SharedAddToFavs-icon" viewBox="0 0 32 32"><g fill-rule="evenodd"><path d="M16.585 5.346c.735-.852 1.614-1.569 2.591-2.062a6.894 6.894 0 0 1 3.172-.784c1.121 0 2.195.232 3.172.639a8.238 8.238 0 0 1 4.341 4.346 8.22 8.22 0 0 1 0 6.35 8.047 8.047 0 0 1-1.75 2.594C27.386 17.175 16.005 27 16.005 27S4.623 17.175 3.888 16.44A8.095 8.095 0 0 1 1.5 10.67c0-1.124.232-2.208.638-3.176A8.09 8.09 0 0 1 3.888 4.9 8.229 8.229 0 0 1 6.48 3.15a8.069 8.069 0 0 1 3.172-.639 6.87 6.87 0 0 1 3.172.784 8.726 8.726 0 0 1 2.59 2.062c.01-.01.272.29.59.726 0 0 .378-.504.58-.736z" stroke-linecap="round"></path></g></svg>
            </div>
          </div><a class="re-CardImage-link" href="/vivienda/madrid-capital/calefaccion-ascensor-amueblado-embajadores-lavapies-149398213?RowGrid=1&amp;tti=1&amp;opi=300">
          <div class="re-Card-photosCounter"><svg class="re-Icon" width="16px" height="16px" viewBox="0 0 16 16"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g stroke="#FFFFFF"><polygon points="0.5 4 5 4 6 2.5 10 2.5 11 4 15.5 4 15.5 13 0.5 13"></polygon><circle cx="8" cy="8" r="2.5"></circle></g></g></svg>1/15
          </div>
          <div class="react-Slidy">
            <div>
              <div class="react-Slidy-frame is-ready"><span class="react-Slidy-prev react-Slidy-arrow--disabled"></span><span class="react-Slidy-next"></span><ul class="react-Slidy-slides" style="transform: translate3d(0px, 0px, 0px);"><li class="react-Slidy-item"><img alt="Casas de compra en Madrid Capital" title="Casas de compra en Madrid Capital" class="re-CardImage-image" src="https://d.inmofactory.com/1/89621/16097895/211799708.jpg/300x225/a_fill/"></li></ul>
              </div>
            </div>
          </div></a>
          <div class="re-Card-labels">
          </div>
        </div>
      </div>
      <div class="sui-CardComposable-secondary">
        <div class="re-Card-secondary">
          <div class="re-Card-promotionLogo"><a class="re-CardImage-link" href="/inmobiliarias/infocasa-consulting-500180062533" target="_blank"><img class="re-CardImage-image" src="https://d.fotocasa.es/client/500180062533/424620.jpg/100x52/"></a>
          </div><a class="re-Card-link" href="/vivienda/madrid-capital/calefaccion-ascensor-amueblado-embajadores-lavapies-149398213?RowGrid=1&amp;tti=1&amp;opi=300"></a>
          <div class="re-Card-wrapperTitle">
            <div class="re-Card-bumpdate"><span class="re-Card-timeago">ahora</span>
            </div>
            <div class="re-Card-meta"><h3 class="re-Card-title">Piso en Centro</h3>
            </div>
          </div>
          <div class="re-Card-priceContainer">
            <div class="re-Card-priceComposite"><span class="re-Card-price"><span>225.000 €</span></span>
            </div>
          </div>
          <div class="re-Card-wrapperFeatures"><span class="re-Card-feature">1 hab.</span><span class="re-Card-feature">60 m²</span>
          </div><span class="re-Card-description">¿Estabas buscando un apartamento nuevo a estrenar con calidades de lujo y diseño moderno ? ¡¡Ideal Inversores ! ! Precioso apartamento...</span></a>
          <div class="re-Card-contact"><a class="sui-AtomButton sui-AtomButton--tertiary sui-AtomButton--large sui-AtomButton--link" href="tel:911360461" data-tealium-tag="c_list_main_contact_sent_call_phone"><span class="sui-AtomButton-inner"><span class="sui-AtomButton-leftIcon"><svg class="fc-Icon fc-Icon--s " viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M9.597 7.39c-.153.618-.721.955-1.151 1.32-.424.36-1.07.69-1.227 1.243-.256.898.304 1.84.65 2.377a13.73 13.73 0 0 0 2.956 3.281c.589.474 1.406 1.106 2.225.943 1.223-.243 1.546-1.726 2.878-1.923 1.268-.189 2.126.715 2.842 1.32.69.586 1.802 1.336 1.726 2.34-.044.576-.514.933-.923 1.282-.414.355-.778.754-1.188 1.017-.993.637-2.21.949-3.608.906-1.371-.042-2.463-.5-3.454-1.018-1.937-1.016-3.469-2.445-4.911-4.037-1.419-1.565-2.729-3.418-3.454-5.467-.904-2.559-.426-5.187 1.038-6.827.247-.278.638-.569 1.004-.868.35-.3.68-.663 1-.755 1.322-.212 2.069 1.051 2.638 1.923.553.847 1.234 1.84.96 2.942z"></path></g></svg></span><span class="sui-AtomButton-text">911360461</span></span></a>
            <div class="re-Card-contactButton"><button class="sui-AtomButton sui-AtomButton--tertiary sui-AtomButton--large " data-tealium-tag="c_list_modal_contact_load"><span class="sui-AtomButton-inner"><span class="sui-AtomButton-leftIcon"><svg class="fc-Icon fc-Icon--s " viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><g transform="translate(1 5)"><path d="M11 7L1 1"></path><rect x=".5" y=".5" width="21" height="13" rx="1"></rect><path d="M21 1L10 7"></path></g></g></svg></span><span class="sui-AtomButton-text">Contactar</span></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>